$backgroundColor: #fff;
$textColor: #1e1e1e;
$formBackgroundColor: #fff;
$formLableColor: #999;
$formErrorColor: #ff2f2f;

$buttonDefalutColor: #fff;
$buttonDefalutHoverColor: #f1f1f1;
$buttonMainColor: #3369f3;
$buttonMainHoverColor: #1a51db;
$buttonMainTextColor: #fff;
$buttonAlertColor: #ff2f2f;
$buttonAlertHoverColor: #ed0c0c;
$buttonAlertTextColor: #fff;

$inputColor: #3369f3;

$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", arial, sans-serif;

$chatInputBackground: #EFEFEF;
$chatAccentColor: #3369f3;
$chatAccentTextColor: #fff;
$chatNonAccentColor: #EFEFEF;
$chatNonAccentTextColor: #999;
$chatMenuBackground: #FBFBFB;

$white: #fff;
$grey01: #FBFBFB;
$grey02: #f1f1f1;
$grey03: #EFEFEF;
$grey04: #999;
$grey05: #1e1e1e;
$blue01: #3369f3;
$blue02: #1a51db;
$red01: #ff2f2f;
$red02: #ed0c0c;


