$backgroundColor: #fff;
$textColor: #1e1e1e;
$formBackgroundColor: #fff;
$formLableColor: #999;
$formErrorColor: #ff2f2f;

$buttonDefalutColor: #fff;
$buttonDefalutHoverColor: #f4f1f1;
$buttonMainColor: #3369f3;
$buttonMainHoverColor: #1a51db;
$buttonMainTextColor: #fff;
$buttonAlertColor: #ff2f2f;
$buttonAlertHoverColor: #ed0c0c;
$buttonAlertTextColor: #fff;

$inputColor: #3369f3;

$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
