$backgroundColor: #FFF;
$textColor: #1E1E1E;
$formBackgroundColor: #FFF;
$formLableColor: #999;
$formErrorColor: #FF2F2F;

$buttonDefalutColor: #FFF;
$buttonDefalutHoverColor: #f4f1f1;
$buttonMainColor: #3369F3;
$buttonMainHoverColor: #1a51db;
$buttonMainTextColor: #FFF;
$buttonAlertColor: #FF2F2F;
$buttonAlertHoverColor: #ed0c0c;
$buttonAlertTextColor: #FFF;

$inputColor: #3369F3;

$fontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;