@import "styles/variables";

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 720px;
  overflow: hidden;
  background-color: $backgroundColor;
  font-family: $fontFamily;
  color: $textColor;
  box-sizing: border-box;
}

.resetParagraph {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.resetButton {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $buttonDefalutColor;
  font-family: $fontFamily;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__code {
    @extend .resetParagraph;

    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__message {
    @extend .resetParagraph;

    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 70px;
  }
}

.button {
  @extend .resetButton;

  width: auto;
  height: 37px;
  margin: 5px;
  padding: 0 8px;
  border-radius: 8px;
  background-color: $buttonDefalutColor;
  color: $textColor;

  &:hover {
    background-color: $buttonDefalutHoverColor;
  }

  &_main-small {
    background-color: $buttonMainColor;
    color: $buttonMainTextColor;

    &:hover {
      background-color: $buttonMainHoverColor;
    }
  }

  &_alert-small {
    background-color: $buttonAlertColor;
    color: $buttonAlertTextColor;

    &:hover {
      background-color: $buttonAlertHoverColor;
    }
  }

  &_main {
    width: 280px;
    background-color: $buttonMainColor;
    color: $buttonMainTextColor;

    &:hover {
      background-color: $buttonMainHoverColor;
    }
  }

  &_alert {
    width: 280px;
    background-color: $buttonAlertColor;
    color: $buttonAlertTextColor;

    &:hover {
      background-color: $buttonAlertHoverColor;
    }
  }
}

layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
  min-height: 450px;

  &__title {
    @extend .resetParagraph;

    margin: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 50%;
  min-height: 450px;

  &__avatarInput {
    width: 200px;
    border: none;
    border-bottom: 1px solid #3369f3;
    color: #1e1e1e;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &__title {
    @extend .resetParagraph;

    margin: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-image: url(./assets/img/user_pic.jpg);
    background-size: contain;
    cursor: pointer;

    &-coverText {
      opacity: 0.7;
      text-align: center;
      display: none;
    }

    &:hover &-coverText {
      display: block;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 340px;
  min-height: 450px;
  border-radius: 12px;
  padding: 30px;
  background-color: $formBackgroundColor;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend .resetParagraph;

    margin: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-piece {
    width: 100%;
    max-width: 350px;
    padding: 8px 0;

    &__label {
      @extend .resetParagraph;

      color: $formLableColor;
      font-size: 9px;
      line-height: 9px;
      font-weight: 500;
    }

    &__input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $inputColor;
      color: $textColor;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    &__error-placeholder {
      height: 8px;
    }

    &__error {
      @extend .resetParagraph;

      color: $formErrorColor;
      font-size: 8px;
      line-height: 8px;
      font-weight: normal;
    }
  }
}

.chat {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  &__menu {
    flex-basis: 400px;
    background-color: $chatMenuBackground;
    border-right: 2px solid $chatNonAccentColor;


    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;    
      padding: 0 20px;  
    }
    &-contacts {
      overflow-y: scroll;
      max-height: calc(100vh - 50px);
    }
    &-add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
  }

  &__container {
    width: calc(100vw - 400px);
    display: flex;
    flex-direction: column;
  }

  &__settings {
    flex: 1;
    width: calc(100vw - 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $chatMenuBackground;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-user {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
    }

    &-login {
      @extend .resetParagraph;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 20px;  
    border-bottom: 2px solid $chatNonAccentColor;
    box-sizing: border-box;

    &-info {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;  
    }

    &-image {
      width: 60px;
      height: 60px;
      border-radius: 45%;
      background-color: $chatInputBackground;
    }

    &-contact {
      @extend .resetParagraph;
      margin-left: 20px;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-field {
      @extend .resetParagraph;
      border: none;
      height: 40px;
      min-width: 200px;
      flex: 1;
      border-radius: 10px;
      background-color: $chatInputBackground;
      padding: 10px 20px;
      margin: 10px 0;
      font-family: $fontFamily;
      line-height: 20px;
      font-size: 16px;
    }
  }

  &__body {
    flex: 1;
  }

}

.contact {
  width: 100%;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 2px solid $chatNonAccentColor;

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 45%;
    background-color: $chatInputBackground;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    align-items:flex-end
  }

  &__time {
    @extend .resetParagraph;
    color: $chatNonAccentTextColor;
    font-size: 14px;
    line-height: 14px;
  }

  &__new {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    background-color: $chatAccentColor;

    &_hide {
      display: none;
    }
    

    &-count {
      @extend .resetParagraph;
      color: $chatAccentTextColor;
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__body {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;

    &-name {
      @extend .resetParagraph;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
    }

    &-message {
      @extend .resetParagraph;
      font-size: 14px;
      line-height: 18px;
    }
  }
}


div {
  //border: 1px solid red;
}
::-webkit-scrollbar { 
  width: 4px;
  height: 4px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb { 
  border-radius: 2px;
  background-color: #d1d1d1;
}
